$body-bg: white;
$dark:rgba(0,0,0,.9);
$dropdown-dark-bg: rgba(0,0,0,.95);
$enable-negative-margins: true;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

::-webkit-scrollbar {
   width: 15px;

}


::-webkit-scrollbar-track {
  
   background-color: #000000ed;


}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-image: linear-gradient(180deg, #E43D40 10%, #8F305D 90%);
   padding: 4px;
   border: 4px solid transparent;
   background-clip: padding-box;
   overflow: auto;



//   border: 0px solid;
//   border-color:  #0b0b0bf5;
//   background-clip: content-box;
}
.font-size-title-header{
    font-size: 17.5px;
}
 body{
   overflow-x: auto;
    font-size: 1.3125rem;
    color: white;
    scroll-padding:2px ;

 }
 .h2{
    font-weight: 700;
    line-height: 105%;
    font-size: clamp(2.625rem,8vw,4.5rem);
    letter-spacing: -.0425rem;
 }
 .h4 {
   position: relative;
   z-index: 2;
   color: white;
   font-size: 2.625rem;
   line-height: 110%;
   letter-spacing: -1px;
   font-weight: 700;
}
 .btn-custom-read{
    font-family: DSemi, monospace;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 0.95rem;
    width: fit-content;
    background-color: black;
    border-radius: 2.25rem;
    padding: 0.875rem 1.5rem;
    color: white;
    border: 1px solid white;
    transition: box-shadow .25s ease,transform .25s ease;
    text-decoration: none;

 }
 .btn-custom-build{
    transition: box-shadow .25s ease,transform .25s ease;
    text-decoration: none;
            background: linear-gradient(90deg, #E43D40 10%, #8F305D 90%);

   //  background: linear-gradient(101.81deg, rgb(240, 135, 255) -4.52%, rgb(110, 31, 206) 54.5%, rgba(110, 31, 206, 0.2) 101.41%);
    color: rgb(255, 255, 255);
    font-family: DSemi, monospace;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 0.95rem;
    width: fit-content;
    border-radius: 2.25rem;
    padding: 0.875rem 1.5rem;
    border: 1px solid black;
 }
 .btn-custom-build:hover{
    background-color: rgb(255, 255, 255) !important;
    background: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    box-shadow: 0 1rem 2.5rem rgba(35,35,35,.1),0 .5rem 1rem -.75rem rgba(35,35,35,.1)!important;
    transform: translate3d(0,-3px,0);
 }
 .btn-custom-read:hover{
    background-color: rgb(255, 255, 255) !important;
    background: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    box-shadow: 0 1rem 2.5rem rgba(35,35,35,.1),0 .5rem 1rem -.75rem rgba(35,35,35,.1)!important;
    transform: translate3d(0,-3px,0);
 }
 .header{
    position: sticky;
    top: 0px;
    z-index: 100;
}
.smaller {
    font-size: 1rem;
}
.subdued {
    color: #c4c4c4;
}
.h4{
   font-size: 2.625rem;
   line-height: 110%;
   letter-spacing: -1px;
   font-weight: 700;
}
.h5, h5 {
   font-size: 1.75rem;
   line-height: 118%;
}
.my-logo{
   object-fit: contain;
   transform: scale(1.5);
}
.my-p{
   padding: 120px 0px;
}
.opacity-custom{
   
   position: fixed;
   background: radial-gradient(48.46% 33.97% at -3.03% 100%,rgba(0,0,0,.28) 0,rgba(0,0,0,.37) 100%),radial-gradient(87.87% 50.37% at 88.57% -4.54%,rgba(0,0,0,.28) 0,rgba(17,19,31,0) 100%),radial-gradient(59.65% 56.27% at 53.12% 118.67%,#e43d40 0,rgb(143 48 93 / 36%) 29.69%,rgba(17,19,31,0) 100%),radial-gradient(38.86% 90.27% at 3.13% -16.93%,#e43d7f 0,rgba(228 61 64/ 30%) 29.69%,rgba(17,19,31,0) 100%);
    height: 100vh;
    width: 100%;
}
/* CUSTOM WIDTHS */
.w-10, .w-xs-10 { width: 10%!important; }
.w-15, .w-xs-15 { width: 15%!important; }
.w-20, .w-xs-20 { width: 20%!important; }
.w-50, .w-xs-50 { width: 20%!important; }

/* BREAKPOINTS */

/* SM breakpoint */
@media (min-width: 576px) {
    /* CUSTOM WIDTHS */
    .w-sm-10 { width: 10%!important; }
    .w-sm-15 { width: 15%!important; }
    .w-sm-20 { width: 20%!important; }
    .w-sm-50 { width: 50%!important; }

}

/* MD breakpoint*/
@media (min-width: 768px) {
    /* CUSTOM WIDTHS */
    .w-md-10 { width: 10%!important; }
    .w-md-15 { width: 15%!important; }
    .w-md-20 { width: 20%!important; }
    .w-md-50 { width: 50%!important; }
    .w-md-75 { width: 75%!important; }

}

/* LG breakpoint */
@media (min-width: 992px) {
    /* CUSTOM WIDTHS */
    .w-lg-10 { width: 10%!important; }
    .w-lg-15 { width: 15%!important; }
    .w-lg-20 { width: 20%!important; }
    .w-lg-50 { width: 50%!important; }

}